@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove default paddings */
    overflow: hidden;
    /* Prevent scrolling */
    display: flex;
    justify-content: center;
}